.detail:hover {
	background-image: linear-gradient(310deg, #a90b84 0%, #ff8ae4 100%);
	color: white;
	position: relative;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.detail {
	background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
	padding: 3px 3px 0 3px;
	border-radius: 5px;
	color: white;
}
